<div class="back-position-signup">
  <div class="background_change">
    <div class="blur"></div>
    <div class="mask"></div>
  </div>

    <div class= "padding_body">
      <div class="box">
        <div class="logo3">
          <img src="/logo.svg">
        </div>
      <div class="form_signup">
        <div class="logo_text">
          <h2><img src="/logo_text.svg"><h2>
      </div>
      <h2 style="color: white;">비밀번호 변경</h2><br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'New Password ( minimum 8 )' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confrim New Password' %>
  </div>

  <div class="actions">
    <%= f.submit "비밀번호 변경 확인", :class => "button_login" %>
  </div>
<% end %>

</div>
</div>
</div>
</div>
